<footer class="footer">
  <div class="container footer__grid">
    <!-- Produção -->
    <div class="footer__col">
      <h3>Produção</h3>
      <img
        src="assets/images/logo-sem-fundo.png"
        alt="Logo"
        class="footer__logo"
      />
    </div>

    <div class="footer__col">
      <h3>Contatos</h3>

      <div class="footer__icons">
        <a
          href="https://www.linkedin.com/in/joyce-madalena-vicente-da-silva-2823791b6 "
          class="footer__link"
        >
          <img
            src="https://img.icons8.com/color/48/linkedin.png"
            alt="linkedin"
          />
        </a>

        <a href="https://github.com/JoyceMadalena" class="footer__link">
          <img
            width="94"
            height="94"
            src="https://img.icons8.com/3d-fluency/94/github-logo.png"
            alt="github-logo"
          />
        </a>

        <a href="https://joycemadalena.github.io/" class="footer__link">
          <img
            width="48"
            height="48"
            src="https://img.icons8.com/fluency/48/portfolio.png"
            alt="portfolio"
          />
        </a>

        <a href="madalenajoycevs@gmail.com" class="footer__link">
          <img
            src="https://img.icons8.com/color/48/gmail-new.png"
            alt="email"
          />
        </a>
      </div>
    </div>
    <!-- Endereço -->
    <div class="footer__col">
      <h3>Endereço</h3>
      <p>
        Rua Exemplo, 123<br />
        Bairro<br />
        Cidade
      </p>
    </div>
  </div>

  <div class="footer__bottom">
    <p>© 2026 Joyce Madalena. Todos os direitos reservados.</p>
  </div>
</footer>
