<header class="header">
  <div class="header__top container">
    <div class="header__logos">
      <a href="#" class="logo">
        <img src="\assets\images\logo.png" alt="Logo 1" />
      </a>
    </div>

    <div class="header__actions">
      <a href="#" class="header__portal">Portal</a>

      <button class="menu-toggle" id="menuToggle">
        <span class="menu-toggle__line"></span>
        <span class="menu-toggle__line"></span>
        <span class="menu-toggle__line"></span>
      </button>
    </div>
  </div>

  <nav class="nav" id="navMenu">
    <ul class="nav__list">
      <li><a href="#">Home</a></li>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Projetos</a></li>
    </ul>
  </nav>
</header>
